.vscode
dist
node_modules

.eslintignore
.eslintrc.json
.gitattributes
.gitignore
.prettierignore
.prettierrc.json
build.js
index.html
package.json
tsconfig.json
tsconfig.node.json
vite.config.electron.ts
vite.config.ts
yarn.lock
